body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.fullscreen-header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: url("../img/FondoPaginaWeb CT.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1050;
}

.fullscreen-header.fast {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.fullscreen-header.slow {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

/* .fullscreen-header.hide {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
} */


.compact-header {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../img/Fondo de pagina web 2.jpg") no-repeat center center;
}

.compact-header.fast {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.compact-header.slow {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.compact-header.show {
  display: block;
  transform: translateY(0);
  opacity: 1;
}


.navbar-collapse {
  z-index: 1100;
}


.video-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.video-carousel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .video-carousel {
    display: none;
  }
}


main {
  flex-grow: 1;
  padding: 30px;
}

#ColorTitulo1 {
  color: #848482;
}

footer {
  background: url("../img/Fondo de pagina web 2.jpg") no-repeat center center;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer a {
  color: white !important;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  main {
    padding: 15px;
    font-size: 14px;
  }
}


.logo-container {
  width: 80%;
  height: auto;
}

.navbar-nav {
  font-size: 1.3rem !important;
}

.py-2 {
  padding-bottom: 0rem !important;
}

.my-4 {
  margin-top: 0.5rem !important;
  margin-bottom: 1.5rem !important;
}

.live-section {
  /* background: linear-gradient(145deg, #1c1c1c, #181818); */
  border-radius: 10px !important;
  padding: 1rem !important;
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important; 
  align-items: center !important;
  min-height: 112% !important;
  box-shadow: 8px 8px 16px #141414,
             -8px -8px 16px #202020;
            
  animation: pulse-shadow 1.5s infinite;           
}

.station-name {
  color: #ff0000 !important;
  font-size: 1.2rem !important;
  margin: 0 !important;
}

.live-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.live-indicator {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  color: white !important;
  font-size: 30px !important;
  font-weight: 600;
  background-color: #ff0000;
  padding: 0.5rem 1rem !important;
  border-radius: 20px !important;
  animation: pulse 1.5s infinite;
}

.controls {
  display: flex !important;
  gap: 1rem !important;
  justify-content: center !important;
}

.live-dot {
  width: 10px !important;
  height: 10px !important;
  background: white !important;
  border-radius: 50% !important;
  animation: pulse 1.5s infinite;
}

.eq-img {
  max-width: 100% !important;
  height: 100px !important;
  border-radius: 10px !important;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Diseño responsivo */
@media (max-width: 1200px) {
  .main-content {
      grid-template-columns: 1fr;
  }
}

@keyframes pulse-shadow {
  0%, 100% {
      box-shadow: 1px 1px 16px #ff0000, 1px 1px 16px #ff0000;
  }
  50% {
      box-shadow: 12px 12px 24px #141414, -12px -12px 24px #202020;
  }
}

.player-icons span {
  font-size: 20px;
  margin: 0 5px;
}


.magazine-img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 8px 8px 16px #141414, -8px -8px 16px #202020;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-fluid.rounded:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 3px 3px 10px #d5d0d0, -3px -3px 10px #d5d0d0;
}



/* SECCIÓN PRINCIPAL PODCAST (versión 2) */
.podcast2-section {
  background-color: #fff;
  color: #000;
  padding: 2rem 0;
}


.podcast2-logo {
  max-width: 300px;
}

.badge-new {
  display: inline-block;
  background-color: #e20c1a;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}


.main-podcast2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}


.podcast2-mic {
  max-width: 150px;
}


.audio-player {
  width: 300px;
  max-width: 100%;
}


.podcast-description {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1rem;
}


.podcast2-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  gap: 1.5rem;
  padding-bottom: 1rem;
  justify-content: center;
  margin: 0 auto;
}


.podcast2-item {
  flex: 0 0 auto;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.podcast2-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.podcast2-item p {
  font-size: 0.9rem;
  margin: 0;
}


.podcast2-item:hover img {
  box-shadow: 0 0 8px rgba(226, 12, 26, 0.5);
  transform: scale(1.03);
  transition: all 0.3s ease;
}

/* Responsividad básica */
@media (max-width: 768px) {
  .main-podcast2-container {
    margin-bottom: 1rem;
  }
  .podcast2-mic {
    max-width: 100px;
  }
  .audio-player {
    width: 90%;
  }
  .podcast-description {
    font-size: 0.95rem;
  }
}

.weather-widget-container {
  border-radius: 10px !important;
  box-shadow: 8px 8px 16px #141414,
             -8px -8px 16px #202020;
  height: 100% !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.weather-widget-container:hover {
  transform: scale(1.01) translateY(-5px);
  box-shadow: 3px 3px 10px #d5d0d0, -3px -3px 10px #d5d0d0;
}

.weather-temp {
  font-size: 1.5rem;
}

.social-section {
  text-align: center;
  margin-top: 1.9rem;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  text-decoration: none;
}

.transparent-button:hover {
  background-color: #D32F2F;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(211, 47, 47, 0.3);
  border-color: transparent;
}

/* Efecto de brillo */
.transparent-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.transparent-button:hover::after {
  left: 100%;
}

/* Cambio de color del texto */
.transparent-button .text-danger {
  transition: color 0.3s ease;
}

.transparent-button:hover .text-danger {
  color: #fff !important;
}

.transparent-button:hover .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Cambio de color del SVG a BLANCO en hover */
.transparent-button .twitch-icon {
  transition: all 0.3s ease;
}

.transparent-button:hover .twitch-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%) !important;
}

/* Ajuste responsivo */
@media (max-width: 576px) {
  .transparent-button {
    font-size: 0.9rem;
  }
  
  .transparent-button img {
    width: 25px;
    height: 25px;
  }
}

.social-text {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 1.5rem !important;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(4, 4, 4);
}

.social-links {
  display: flex !important;
  justify-content: center !important;
  gap: 2.8rem !important;
  margin-top: 0rem;
  padding: 1rem;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.icon-social:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.icon-social {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

/* Main Player */
.main-player {
  border-radius: 10px !important;
  position: relative;
  display: flex;
  margin-top: 0rem;
  box-shadow: 8px 8px 16px #141414,
             -8px -8px 16px #202020 !important;
}

.ad-bar {
  background-color: white;
  min-height: 100vh;
  text-align: center;
  padding-top: 1rem;
}

.ad-bar img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.ad-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ff0000;
  font-weight: bold;
}


.main-article,
.news-card {
   border: 1px solid #d9d2d2;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.main-article img,
.news-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.main-article h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #1f1f1f;
  font-weight: bold;
}

.main-article p,
.news-card p {
  font-size: 0.9rem;
  line-height: 1.4;
}


.read-more-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 4px;
}


.side-column {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.side-column h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ffcccc;
}

.side-news-item {
  margin-bottom: 1rem;
}

.side-news-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.side-news-item h5 {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.side-news-item p {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}


.podcast-section {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.podcast-section h4 {
  color: #ffcccc;
  margin-bottom: 1rem;
}

.podcast-section img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.podcast-player {
  align-items: center;
  padding: 1rem;
  position: relative;
  box-shadow: 8px 8px 16px #141414,
             -8px -8px 16px #202020;
}

.podcast-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  aspect-ratio: 1;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(255 255 255 / 30%);
}

.podcast-title {
font-size: 1.2rem;
margin-bottom: 0.5rem;
color: #ff0000;
text-shadow: 1px 1px 2px rgba(255 232 232 / 50%);
}

.d-flex.gap-1 {
display: flex;
gap: 1rem !important;
}

/* Weather Widget */
.podcast-weather-column {
  justify-content: unset !important;
  gap: 1rem !important;
}  

.big-banner {
  margin-bottom: 1.5rem;
  text-align: center;
}

.big-banner img {
  max-width: 100%;
  border-radius: 5px;
}


.team-section {
  margin-bottom: 1.5rem;
}

.team-section h4 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ffcccc;
}

.team-member {
  text-align: center;
  margin-bottom: 1rem;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border: 2px solid #ff0000;
}

.team-member h6 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.team-member p {
  font-size: 0.75rem;
}


.magazine-section h4 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ffcccc;
}

.magazine-cover {
  margin-bottom: 1rem;
  text-align: center;
}

.magazine-cover img {
  width: 100%;
  max-width: 180px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.magazine-cover h6 {
  font-size: 0.9rem;
}

.extra-section {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 992px) {
  .ad-bar {
    display: none;
  }
}

.card-img-top {
  height: 200px; 
  object-fit: cover;
  width: 100%;
}

.always-show {
  display: block !important;
}



.search-group {
  max-width: 300px;
}

.bi-star-fill, .bi-star-half, .bi-star {
  font-size: 1.2rem;
}


.table-hover tbody tr:hover {
  background-color: #333;
}

