asgiref==3.9.1
diff-match-patch==20241021
Django==5.2.5
django-admin-sortable2==2.2.8
django-dirtyfields==1.9.7
django-import-export==4.3.9
mutagen==1.47.0
pillow==11.3.0
pytz==2024.2
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
wheel==0.45.1
