{% load static %}
<footer style="background-color: #ff0000;" class="text-white py-4">
  <div class="container">
    <div class="row text-center text-md-left align-items-center">
      <!-- Social Icons (Columna izquierda) -->
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="https://whatsapp.com/channel/0029VaVqM4tF6sn4pFLhbH45" class="text-white me-3"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61573790453540" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/contactototalmedia/" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="https://x.com/ContactoTotal65" class="text-white me-3"><i class="fas fa-times"></i></a>
          <a href="https://www.youtube.com/@CTMEDIOS" class="text-white me-3"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/contacto-total-338979183/" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.tiktok.com/@contacto.total.me" class="text-white"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
      
      <!-- Footer Logo (Columna central) -->
      <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center">
        <img src="{% static 'img/logomedia.png' %}" alt="Contacto Total Media" class="img-fluid" style="max-height: 60px;">
      </div>
      
      <!-- Copyright (Columna derecha) -->
      <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
        <p class="mb-0">&copy; 2025 Contacto Total Media. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
