{% load static %}
<footer class="footer-custom">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="social-icons">
            <a href="#" class="text-white"><i class="fab fa-whatsapp"></i></a>
            <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fas fa-times"></i></a>
            <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="text-white"><i class="fab fa-tiktok"></i></a>
        </div>

        <div class="footer-logo">
            <img src="{% static 'img/logomedia.png' %}" alt="Contacto Total Media">
        </div>

        <div class="copyright">
            <p>2025 Copyrights & Protected</p>
        </div>
    </div>
</footer>
