{% load static %}
<header id="fullscreen-header" class="fullscreen-header bg-black text-white">
  <nav class="navbar navbar-expand-lg navbar-dark py-2">
    <div class="container">
      <a class="navbar-brand d-lg-none" href="#">
        <img src="{% static 'img/LogoRCT2.png' %}" alt="Logo Contacto Total" width="120">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="#contactoTotalRadio" class="nav-link">Contacto Total Radio</a></li>
          <li class="nav-item"><a href="{% url 'revista' %}" class="nav-link">Revista</a></li>
          <li class="nav-item"><a href="{% url 'programas' %}" class="nav-link">Programas</a></li>
          <li class="nav-item"><a href="{% url 'podcast' %}" class="nav-link">Podcast</a></li>
          <li class="nav-item"><a href="#quienesSomos" class="nav-link">Quienes Somos</a></li>
          <li class="nav-item"><a href="#Programación" class="nav-link">Programación</a></li>
          <li class="nav-item"><a href="#Tienda" class="nav-link">Tienda</a></li>
          <li class="nav-item"><a href="#contacto" class="nav-link">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header d-none d-lg-block">
    <div class="container text-center">
      <div class="logo-container">
        <img src="{% static 'img/LogoRCT2.png' %}" alt="Contacto Total Media" class="logo" >
      </div>
    </div>
  </div>

  <main>
      <div class="left-column">
          <div class="left-content">
              <section class="live-radio">
                  <h2>Contacto Total Radio</h2>
                  <div class="live-indicator">● LIVE</div>
                  <div class="audio-bars">
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                  </div>
              </section>
              
              <section class="revista">
                  <img src="{% static 'img/revista.jpeg' %}" alt="Revista Contacto Total">
              </section>
          </div>
      </div>
      
      <div class="center-column">
          <section class="main-video">
              <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/RyewX_e5Blg?si=ppBcPOv8WzVBd_yB"
                      title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen>
                  </iframe>
              </div>
          </section>
          
          <section class="social-section">
              <h3>¡Conéctate y disfruta en vivo desde nuestras redes sociales!</h3>
              <div class="social-media-icons">
                  <a href="#" class="social-icon"><img src="{% static 'img/facebook.svg' %}" alt="live-facebook"></a>
                  <a href="#" class="social-icon"><img src="{% static 'img/instagram.svg' %}" alt="live-instagram"></a>
                  <a href="#" class="social-icon"><img src="{% static 'img/twitter.svg' %}" alt="live-x"></a>
                  <a href="#" class="social-icon"><img src="{% static 'img/youtube.svg' %}" alt="live-youtube"></a>
                  <a href="#" class="social-icon"><img src="{% static 'img/twitch.svg' %}" alt="live-twitch"></a>
                  <a href="#" class="social-icon"><img src="{% static 'img/tik-tok.svg' %}" alt="live-tiktok"></a>
              </div>
          </section>
      </div>
      
      <div class="right-column">
          <div class="right-content">
              <section class="podcast">
                  <img src="{% static 'img/Copia de Podcast 1.png' %}" alt="Podcast">
                  <div class="podcast-info">
                      <h3>Podcast</h3>
                      <p>Contacto Total</p>
                  </div>
                  <div class="podcast-controls">
                      <button>↺</button>
                      <button>◀◀</button>
                      <button>▶</button>
                      <button>▶▶</button>
                      <button>↻</button>
                  </div>
                  <div class="podcast-time">
                      <span>02:10</span>
                      <div class="time-bar"><div class="time-progress"></div></div>
                      <span>03:45</span>
                  </div>
              </section>
              
              <section class="weather">
                  <a class="weatherwidget-io" href="https://forecast7.com/es/33d45n112d07/phoenix/" data-label_1="PHOENIX" data-label_2="WEATHER" data-font="Verdana" data-icons="Climacons Animated" data-days="5" data-theme="weather_one">PHOENIX WEATHER</a>
              </section>
          </div>
      </div>
  </main>
</header>

<header id="compact-header" class="compact-header bg-black text-white fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark py-2">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logomedia.png' %}" alt="Logo Contacto Total" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCompact"
        aria-controls="navbarNavCompact" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavCompact">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="#contactoTotalRadio" class="nav-link">Contacto Total Radio</a></li>
          <li class="nav-item"><a href="{% url 'revista' %}" class="nav-link">Revista</a></li>
          <li class="nav-item"><a href="{% url 'programas' %}" class="nav-link">Programas</a></li>
          <li class="nav-item"><a href="{% url 'podcast' %}" class="nav-link">Podcast</a></li>
          <li class="nav-item"><a href="#quienesSomos" class="nav-link">Quienes Somos</a></li>
          <li class="nav-item"><a href="#Programación" class="nav-link">Programación</a></li>
          <li class="nav-item"><a href="#Tienda" class="nav-link">Tienda</a></li>
          <li class="nav-item"><a href="#contacto" class="nav-link">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
  </script>
</header>