{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    {% include 'base/headerCompact.html' %}
{% endblock %}

{% block main %}
<div class="container py-5">
    <h2>{{ news_item.title }}</h2>
    <p>
        <strong>Publicado Por:</strong> {{ news_item.author }} <br>
        <strong>Fecha de publicación:</strong> {{ news_item.publication_date|date:"d F Y" }}
    </p>
    {% if news_item.video or news_item.video_link %}
        <div class="video-container">
            <iframe src="{{ news_item.media_source }}" title="Video de la noticia" allowfullscreen></iframe>
        </div>
    {% elif news_item.image %}
        <img src="{{ news_item.image.url }}" alt="Imagen de la noticia" class="img-fluid">
    {% endif %}
    <div class="news-content mt-4">
        {% if news_item.short_description %}
            <p>{{ news_item.short_description }}</p>
        {% elif news_item.description %}
            <p>{{ news_item.description }}</p>
        {% else %}
            <p>No hay descripción disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
