{% extends 'base/base.html' %}
{% load static %}

{% block header %}
  {% include 'base/headerCompact.html' %}
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="content-box p-4">
                <h2 class="fw-bold text-center">¿Quiénes somos?</h2>
                <hr class="mx-auto hr-custom">
                <p>
                    Contacto Total es una marca reconocida en el Valle del Sol que, desde noviembre de 2005, ha informado, entretenido y servido a la comunidad hispana de Arizona. Actualmente, es el programa número uno de la radio en español, transmitiendo de lunes a viernes a las 11 de la mañana por la frecuencia 1190 AM.
                </p>
                <p>
                    Además del programa radial, Contacto Total ha expandido su presencia a medios impresos con "Contacto Total, La Revista que Habla", una publicación interactiva que circula dos veces al mes y está disponible en línea.
                </p>
                <p>
                    El equipo de trabajo está conformado por profesionales de los medios al servicio de la comunidad, incluyendo a Diana Gualdrón como Directora de la revista, Sandra Carmona como Productora General y Gabriel Villalobos como Productor y Editor.
                </p>
                <p>
                    La prioridad de Contacto Total es la información local, ofreciendo secciones reconocidas como <strong>"Pare oreja y apunte"</strong>, <strong>"De su ronco pecho"</strong>, <strong>"A chambear"</strong>, <strong>"Suelte la lengua"</strong> y <strong>"¡No manches!"</strong>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
